// Place all the styles related to the game/coin_games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newGame {
	letter-spacing: 10px;
	font-size: 28px;
	padding: 20px;
}

.centerBox {
	height: 240px;
}

h2 {
	letter-spacing: 4px;
}

#opponentName {
	float: right;
	font-size: 18px;
	margin: 20px;
	display: inline-block;
}

#backBtn {
	margin: 20px;
}