.newGame {
	letter-spacing: 10px;
	font-size: 28px;
	padding: 20px;
}

.centerBox {
	height: 240px;
}

h2 {
	letter-spacing: 4px;
}

#opponentName {
	float: right;
	font-size: 18px;
	margin: 20px;
	display: inline-block;
}

#backBtn {
	margin: 20px;
}