<div id="coingame">
<h4>Demo Coin Toss Game</h4>
<button type="button" onclick="coingame('Heads!')">Heads</button> or 
<button type="button" onclick="coingame('Tails!')">Tails</button> 
<p id="coin_result"></p>
</div>

<script src="/assets/coingame.js"></script>