<div id="coingame" class="centerBox">
	<h2>Coin Toss Game</h2>
	<button onclick="coingame('Heads!')">Heads</button> or 
	<button onclick="coingame('Tails!')">Tails</button> 
	<p id="coin_result"></p>
</div>