<p id="notice"><%= notice %></p>

<h1>Listing Avaliable Games</h1>

	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @coin_games_need_another_player.each do |coin_game| %>
				<tr>
					<td ><%= link_to('Join Game', coin_game, data: { no_turbolink: true }) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

<br>

<%= link_to 'Start a new game', new_game_coin_game_path, data: { no_turbolink: true } %>
