<p id="notice"><%= notice %></p>

<%= link_to "#{image_tag("Add-New-48.png")} NEW GAME ".html_safe, new_game_coin_game_path, data: { no_turbolink: true }, class: 'newGame btn btn-primary' %>

<h1>GAMES IN PROGRESS</h1>

	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @coin_games_need_another_player.each do |coin_game| %>
				<tr>
					<td ><%= link_to('JOIN GAME', coin_game, data: { no_turbolink: true }, class: 'btn btn-primary') %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
