<p id="notice"><%= notice %></p>

<%= link_to image_tag("Previous-48.png"), game_coin_games_path, data: { no_turbolink: true }, id: 'backBtn' %>

<div id="opponentName">
	<% if @other_challenger != nil %>
		CHALLENGER: <%= @other_challenger.name%>
	<% end %>
</div>

<div id="gameDisplay">
	<%= render "/game/coin_games/coingame" %>
</div>
