<div id="content">
<h2> Welcome to GameHub! </h2>
</div>

<div id="game">
<h4>Demo Coin Toss Game</h4>
<button type="button" onclick="simplegame('Heads!')">Heads</button> or 
<button type="button" onclick="simplegame('Tails!')">Tails</button> 
<p id="coin_result"></p>
</div>

<script src="/assets/simplegame.js"></script>