<div id="loginInput">	

	<h1>WELCOME</h1>	

	<div id="gameDisplay">
		<%= render "/game/coingame" %> 
	</div>

	<!-- Image Source: http://chroniclesofharriet.com/2012/01/27/109/ -->
	<%= image_tag("chips.jpg", id:"chipsBackground") %>
</div>


