<div id="loginInput">
	<h2> Welcome to GameHub! </h2>
	<h3>Who are you?</h3>		
	<input type="text" name="usernameTextBox" id="usernameTextBox" placeholder="Enter a username"/>
	<br>
	<button id="submitBtn" onclick="submitLogin()">Submit</button> 	
</div>

<h3 id="loginMessage">Login Successful!</h3>


