#challengerList .btn_challenge{
}

#challengerList .report{
	float: left;
	margin-right: 10px;
	color: white;
}

#challengerList .chall_button{
	float: left;
	margin-right: 10px;
	color: black;
	font-size: 12px;
}