// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	text-align: center;
}

#loginInput {
	text-align: center;
	font-size: 32px;
	letter-spacing: 8px;
}

#loginMessage {
	display: none;
	text-align: center;
}

#submitBtn {
	margin: 5px;
}

#loginForm input{
	color:black;
}