<% if @challengers %>
	<% @challengers.each do |challenger| %>
		<tr>

			<div class= "btn_challenge">
				<%= button_to "Challenge", {}, :disabled => true%>
			</div>
			<div class="users">
				<%= challenger.name.upcase %>
			</div>

			<br>
			

		</tr>
	<% end %>
<% end %>

