<% if @challengers %>
	<% @challengers.each do |challenger| %>
		<tr>

			<div class= "btn_challenge">
				<%= button_to "CHALLENGE", {}, :disabled => true, class: 'btn btn-primary' %>
			</div>
			<div class="users">
				<%= challenger.name.upcase %>
			</div>

			<br>
			<br>
			

		</tr>
	<% end %>
<% end %>

