<div id="loginInput">	

	<%= link_to "LET'S PLAY A GAME",{ controller: "/game/coin_games"}, class: "btn btn-primary" %>	

	<!-- Image Source: http://chroniclesofharriet.com/2012/01/27/109/ -->
	<%= image_tag("chips.jpg", id:"chipsBackground") %>
</div>


