<div class ="centerBox" id="loginForm">
	<h2>Welcome to GameHub</h2>
	<%= form_for @challenger do |f| %>
		<label>
			<p> <%= f.text_field :name, :placeholder => "Username" %> </p>
		</label>
		<%= f.button :Login %>
	<% end %>

</div>
