<div class ="centerBox" id="loginForm">
	<h2>Sign in to GameHub</h2>
	<br>
	<%= form_for @challenger do |f| %>
		<label>
			<p> <%= f.text_field :name, :placeholder => "Username" %> </p>
		</label>
		<br>
		<%= f.button :Login, class: 'btn btn-primary' %>
	<% end %>

</div>
