<!DOCTYPE html>
<html>
<head>
  <title>GameHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h2>HI THIS IS A TEST</h2>

<%= yield %>

</body>
</html>
